.controls {
    position: relative;
    width: 480px;
    padding: 20px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls .title {
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .controls .title {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .controls {
        width: 100vw;
    }
}

