.progress-bar {
    position: absolute;
    top: 0;
    width: 100%;
}

.progress-container {
    height: 4px;
    width: 100%;
    background-color: #263238;
}

.progress-fill {
    width: 0;
    height: 4px;
    background-color: #1e88e5;
}

.progress-time {
    padding: 10px;
    display: flex;
}

.current-time, .duration {
    font-size: 14px;
}

.duration {
    margin-left: auto;
}

@media screen and (max-width: 480px) {
    .current-time, .duration {
        font-size: 12px;
    }
}